<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<!-- Above navbar -->
<nav class="navbar bg-dark">
    <div style="margin-left: 20px;" class="text-white"><b><span id="adminUsername">email</span></b> with roles: <span id="adminRoles">roles</span></div>
    <!-- Logout link -->
    <div>
        <a class="nav-link text-white-50" style="margin-right: 20px;" th:href="@{/logout}">Logout</a>
    </div>
</nav>
<div class="row g-0" style="height: 100vh;">
<!-- Fist column with buttons -->
<div class="col-2">
    <div class="nav nav-pills flex-column" style="margin-top: 10px;" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="flex-sm-fill text-sm-left nav-link active" data-bs-toggle="tab" id="homeTab" href="#adminPanel">Admin</a>
        <a class="flex-sm-fill text-sm-left nav-link" data-bs-toggle="tab" href="#userPanel">User</a>
    </div>
</div>
<!--Second column-->
    <div class="col-10" style="background-color: #f8fcff;">
    <div class="tab-content" id="v-pills-tabContent">
<!--        #userPanel-->
        <div class="tab-pane" id="userPanel" role="tabpanel">
            <h1 style="margin-left: 25px; margin-top: 10px;">User information page</h1>
            <div class="card" style="margin-right: 25px; margin-left: 25px;">
                <h5 class="card-header">About user</h5>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead class="table-group-divider" style="color: #e9ecef;">
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody id="UserTableBody" class="table-group-divider" style="color: #e9ecef;">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<!-- #adminPanel-->
        <div sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="tab-pane fade show active" id="adminPanel" role="tabpanel">
    <h1 style="margin-left: 25px; margin-top: 10px;">Admin panel</h1>
    <!-- Nav with "add user" button -->
    <ul class="nav nav-tabs" style="margin-left: 25px; margin-right: 25px;">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" id="usersTable" data-bs-target="#allUsers">Users table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#newUser">New user</a>
        </li>
    </ul>
<!--            Tabs-->
            <div class="tab-content" id="nav-tabContent">
<!-- Users table #allUsers-->
        <div class="tab-pane fade show active" id="allUsers" role="tabpanel">
<div class="card" style="margin-right: 25px; margin-left: 25px;">
    <h5 class="card-header">All users</h5>
    <div class="card-body">
        <table class="table table-striped">
            <thead class="table-group-divider" style="color: #e9ecef;">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="tableBody" class="table-group-divider" style="color: #e9ecef;">
            </tbody>
        </table>
    </div>
</div>
        </div>
        <!--            Add new User                -->
        <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="nav-new_user-tab">
            <div class="card" style="margin-right: 25px; margin-left: 25px;">
                <h5 class="card-header">Add new user</h5>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-4" style="text-align: center;">
                            <form id="formNewUser" action="/api/admin/users/" method="POST">
                                <div id="validationErrorsNewUser" class="text-danger"></div>
                                <div class="mb-3">
                                    <label for="new-name" class="form-label form-label-sm"><strong>First Name</strong></label>
                                    <input type="text" class="form-control form-control-sm" id="new-name" placeholder="First Name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="new-lastName" class="form-label form-label-sm"><strong>Last Name</strong></label>
                                    <input type="text" class="form-control form-control-sm" id="new-lastName" placeholder="Last Name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="new-age" class="form-label"><strong>Age</strong></label>
                                    <input type="number" min="0" max="120" class="form-control form-control-sm" id="new-age" placeholder="Age" required>
                                </div>
                                <div class="mb-3">
                                    <label for="new-username" class="form-label"><strong>Email</strong></label>
                                    <input type="email" class="form-control form-control-sm" id="new-username" placeholder="Email" spellcheck="true" required>
                                </div>
                                <div class="mb-3">
                                    <label for="new-password" class="form-label"><strong>Password</strong></label>
                                    <input type="password" class="form-control form-control-sm" id="new-password" placeholder="Password" required>
                                </div>
                                <div class="mb-3">
                                    <label for="new-roles" class="form-label"><strong>Roles</strong></label>
                                    <select class="form-select form-select-sm" size="2" aria-label="Default select example" id="new-roles"
                                            name="roles" required multiple>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-success" id="addBtn">Add new user</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--                end of new user section -->
                <!-- #editModal -->
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                    <form id="editForm">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="editModalLabel">Edit user</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row justify-content-center">
                                    <div class="col-6" style="text-align: center;">
                                        <div class="mb-3">
                                            <label for="edit-id" class="form-label"><strong>ID</strong></label>
                                            <input class="form-control form-control-sm" id="edit-id" name="id" disabled>
                                        </div>
                                        <div class="mb-3">
                                            <label for="edit-name" class="form-label"><strong>First Name</strong></label>
                                            <input type="text" class="form-control form-control-sm" id="edit-name" name="name" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="edit-lastName" class="form-label"><strong>Last Name</strong></label>
                                            <input type="text" id="edit-lastName" class="form-control form-control-sm" name="lastName" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="edit-age" class="form-label"><strong>Age</strong></label>
                                            <input type="number" min="0" max="120" id="edit-age" class="form-control form-control-sm" name="age" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="edit-username" class="form-label"><strong>Email</strong></label>
                                            <input type="email" id="edit-username" class="form-control form-control-sm" name="username" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="edit-password" class="form-label"><strong>Password</strong></label>
                                            <input type="password" class="form-control form-control-sm" id="edit-password" name="password" readonly>
                                        </div>
                                        <div class="mb-3">
                                            <label for="edit-roles" class="form-label"><strong>Role</strong></label>
                                            <select class="form-select" size="2" id="edit-roles" name="roles" required multiple>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
<!--                end of #editModal   -->
                <!-- #deleteModal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <form id="deleteForm">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete user</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row justify-content-center">
                                        <div class="col-6" style="text-align: center;">
                                            <div class="mb-3">
                                                <label for="delete-id" class="form-label"><strong>ID</strong></label>
                                                <input class="form-control form-control-sm" id="delete-id" name="id" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="delete-name" class="form-label"><strong>First Name</strong></label>
                                                <input type="text" class="form-control form-control-sm" id="delete-name" name="name" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="delete-lastName" class="form-label"><strong>Last Name</strong></label>
                                                <input type="text" id="delete-lastName" class="form-control form-control-sm" name="lastName" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="delete-age" class="form-label"><strong>Age</strong></label>
                                                <input type="number" min="0" max="120" id="delete-age" class="form-control form-control-sm" name="age" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="delete-username" class="form-label"><strong>Email</strong></label>
                                                <input type="email" id="delete-username" class="form-control form-control-sm" name="username" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="delete-password" class="form-label"><strong>Password</strong></label>
                                                <input type="password" class="form-control form-control-sm" id="delete-password" name="password" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="delete-roles" class="form-label"><strong>Role</strong></label>
                                                <select class="form-select" size="2" id="delete-roles" name="roles" disabled multiple>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="btnDelete">Delete</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--                end of #deleteModal   -->
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script> const URLUsers = 'http://localhost:8080/api/admin/users'
let rows = document.getElementById('tableBody')
let newRow = ''

function getAllUsers() {
    fetch(URLUsers)
        .then((res) => res.json())
        .then((users) => {
            users.map((user) => {
                let rolesString = rolesToString(user.roles);
                return (newRow += `<tr>
                  <td>${user.id}</td>
                  <td>${user.name}</td>
                  <td>${user.lastName}</td>
                  <td>${user.age}</td>
                  <td>${user.username}</td>
                  <td>${rolesString}</td>
                  <td>
                          <button type="button"
                          class="btn btn-primary"
                          data-bs-toogle="modal"
                          data-bs-target="#editModal"
                          onclick="editModal(${user.id})">
                                Edit
                            </button>
                        </td>
                  <td>
                            <button type="button"
                            class="btn btn-danger"
                            data-toggle="modal"
                            data-target="#deleteModal"
                            onclick="deleteModal(${user.id})">
                                Delete
                            </button>
                        </td>
                  </tr>`)
            })
            rows.innerHTML = newRow
        })
        .catch((error) => console.log(error))
}

getAllUsers()

function rolesToString(roles) {
    let rolesString = ''
    for (const role of roles) {
        rolesString += (role.name.replace('ROLE_', '') + ' ')
    }
    return rolesString;
}

// authenticated user page script
const URLUser = 'http://localhost:8080/api/user'
const authenticatedUser = document.getElementById('UserTableBody')
const authUsername = document.getElementById('adminUsername')
const authRoles = document.getElementById('adminRoles')

function getAuthenticatedUser() {
    fetch(URLUser)
        .then((res) => res.json())
        .then((user) => {
                let rolesString = rolesToString(user.roles);
            authenticatedUser.innerHTML = `<tr>
                  <td>${user.id}</td>
                  <td>${user.name}</td>
                  <td>${user.lastName}</td>
                  <td>${user.age}</td>
                  <td>${user.username}</td>
                  <td>${rolesString}</td>
                  </tr>`
            authUsername.innerHTML = `${user.username}`
            authRoles.innerHTML = `${rolesString}`
            })
        .catch((error) => console.log(error))
}

getAuthenticatedUser()

// edit script
let formEdit = document.forms["editForm"]
const modalEdit = new bootstrap.Modal(document.querySelector('#editModal'))
let selectEdit = document.getElementById("edit-roles")
const buttonSubmit = formEdit.querySelector('button[type="submit"]')

editUser()

async function editModal(id) {
    await open_fill_modal(formEdit, modalEdit, id);
    loadRolesForEdit()
}
function editUser() {
    console.log("Edit User");
    buttonSubmit.addEventListener("click", async e => {
        e.preventDefault();
        let rolesForEdit = [];
        for (let i = 0; i < formEdit.roles.options.length; i++) {
            if (formEdit.roles.options[i].selected) rolesForEdit.push({
                id: formEdit.roles.options[i].value,
                name: "ROLE_" + formEdit.roles.options[i].text
            });
        }

        await fetch(URLUsers + "/" + formEdit.id.value, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                id: formEdit.id.value,
                name: formEdit.name.value,
                lastName: formEdit.lastName.value,
                age: formEdit.age.value,
                username: formEdit.username.value,
                password: formEdit.password.value,
                roles: rolesForEdit
            })
        }).then(response => {
            if (!response.ok) {
                return response.json();
            } else {
                return { message: "User updated successfully" };
            }
        }).then(data => {
            modalEdit.hide()
        })
    });
}

function loadRolesForEdit() {
    selectEdit.innerHTML = "";

    fetch("http://localhost:8080/api/admin/roles")
        .then(res => res.json())
        .then(data => {
            data.forEach(role => {
                let option = document.createElement("option");
                option.value = role.id;
                option.text = role.name.replace('ROLE_', '');
                selectEdit.appendChild(option);
            });
        })
}
window.addEventListener("load", loadRolesForEdit);

// delete script
let formDelete = document.forms["deleteForm"]
let modalDelete = new bootstrap.Modal(document.querySelector('#deleteModal'));
let selectDelete = document.getElementById("delete-roles");

deleteUser()

async function deleteModal(id) {
    await open_fill_modal(formDelete, modalDelete, id);
    loadRolesForDelete()
}

function deleteUser() {
    formDelete.addEventListener("submit", async e => {
        e.preventDefault();
        try {
            const userId = formDelete.querySelector("#delete-id").value;
            await fetch(URLUsers + "/" + userId, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            modalDelete.hide()
        } catch (error) {
            console.error(error);
        }
    });
}

function loadRolesForDelete() {
    selectDelete.innerHTML = "";

    fetch("http://localhost:8080/api/admin/roles")
        .then(res => res.json())
        .then(data => {
            data.forEach(role => {
                let option = document.createElement("option");
                option.value = role.id;
                option.text = role.name.replace('ROLE_', '');
                selectDelete.appendChild(option);
            });
        })
}
window.addEventListener("load", loadRolesForDelete)

// open_fill_modal
async function open_fill_modal(form, modal, id) {
    const url = `http://localhost:8080/api/admin/users/${id}`;
    try {
        const response = await fetch(url);
        const userData = await response.json();
        console.log("Fetched user data:", userData, form);

        form.id.value = userData.id;
        form.name.value = userData.name;
        form.lastName.value = userData.lastName;
        form.age.value = userData.age;
        form.username.value = userData.username;
        if (form.password) form.password.value = userData.password;
        userData.roles.forEach(role => {
            const roleOption = form.roles.querySelector(`option[value="${role.id}"]`);
            if (roleOption) {
                roleOption.selected = true;
            }
        });
        modal.show();
    } catch (error) {
        console.error("Error fetching user data:", error);
    }
}

// add new user script
let formNewUser = document.forms["formNewUser"]
const addedName = document.getElementById("new-name")
const addedLastName = document.getElementById("new-lastName")
const addedAge = document.getElementById("new-age")
const addedUsername = document.getElementById("new-username")
const addedPassword = document.getElementById("new-password")
const addButton = document.getElementById("addBtn")


function addUser(name, lastName, age, username, password) {

    let addedRoles = []
    for (let i = 0; i < formNewUser.roles.options.length; i++) {
        if (formNewUser.roles.options[i].selected)
            addedRoles.push({
                id: formNewUser.roles.options[i].value,
                role: "ROLE_" + formNewUser.roles.options[i].text
            });
    }
    fetch(URLUsers, {
        method: "POST",
        body: JSON.stringify({
            name: name,
            lastName: lastName,
            age: age,
            username: username,
            password: password,
            roles: addedRoles,
        }),
        headers: {
            "Content-Type": "application/json",
        },
    })
        .then((res) => {
            if (res.ok) {
                console.log("User added")
                addedName.value = ''
                addedLastName.value = ''
                addedAge.value = ''
                addedUsername.value = ''
                addedPassword.value = ''
                selectAdd.selectedIndex = -1
                return res.json()
            } else {
                throw new Error("Failed to add")
            }
        })
        .then((user) => {
        })
        .catch((error) => console.log(error))
}

function newUserRoles() {
    let selectAdd = document.getElementById("new-roles");
    selectAdd.innerHTML = "";

    fetch("http://localhost:8080/api/admin/roles")
        .then(res => res.json())
        .then(data => {
            data.forEach(role => {
                let option = document.createElement("option");
                option.value = role.id;
                option.text = role.name.replace('ROLE_', '')
                selectAdd.appendChild(option);
            });
        })
}
window.addEventListener("load", newUserRoles)

addButton.addEventListener("click", (e) => {
    e.preventDefault()
    const newName = addedName.value
    const newLastName = addedLastName.value
    const newAge = addedAge.value
    const newUsername = addedUsername.value
    const newPassword = addedPassword.value

    addUser(newName, newLastName, newAge, newUsername, newPassword)
})
</script>
</body>
</html>