<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<!-- Above navbar -->
<nav class="navbar bg-dark">
    <div style="margin-left: 20px;" class="text-white"><b><span th:text="${admin.username}"></span></b> with roles: <span
            th:each="role : ${admin.roles}" th:text="${role.toString()}"></span></div>
    <!-- Logout link -->
    <div>
        <a class="nav-link text-white-50" style="margin-right: 20px;" th:href="@{/logout}">Logout</a>
    </div>
</nav>
<div class="row g-0" style="height: 100vh;">
    <!-- Fist column with buttons -->
    <div class="col-2">
        <nav class="nav nav-pills flex-column" style="margin-top: 10px;">
            <a class="flex-sm-fill text-sm-left nav-link active" aria-current="page" href="/templates/admin">Admin</a>
            <a class="flex-sm-fill text-sm-left nav-link" href="/user">User</a>
        </nav>
    </div>
    <!-- Admin panel/ second column -->
    <div class="col-10" style="background-color: #f8fcff;">
        <h1 style="margin-left: 25px; margin-top: 10px;">Admin panel</h1>
        <!-- Nav with "add user" button -->
        <ul class="nav nav-tabs" style="margin-left: 25px; margin-right: 25px;">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/templates/admin">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/templates/admin/new">New user</a>
            </li>
        </ul>
        <!-- Users table -->
        <div class="card" style="margin-right: 25px; margin-left: 25px;">
            <h5 class="card-header">All users</h5>
            <div class="card-body">
<table class="table table-striped">
    <thead class="table-group-divider" style="color: #e9ecef;">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody class="table-group-divider" style="color: #e9ecef;">
    <tr var="user" items="${users}">
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.username}"></td>
        <td>
            <span th:each="role : ${user.roles}" th:text="${role.toString()}"></span>
        </td>
        <td>
            <!-- Edit button -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="${'#editModal'+ user.id}">Edit</button>
            <!-- Edit modal -->
            <div class="modal fade" th:id="${'editModal' + user.id}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <form th:action="@{/templates/admin/edit}" method="POST">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="EditModalLabel">Edit user</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row justify-content-center">
                                <div class="col-6" style="text-align: center;">
                            <div class="mb-3">
                                <label for="id" class="form-label"><strong>ID</strong></label>
                                <input class="form-control form-control-sm" id="id" th:value="${user.id}" disabled>
                                <input name="id" th:value="${user.id}" hidden="hidden">
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label"><strong>First Name</strong></label>
                                <input type="text" class="form-control form-control-sm" id="name" name="name" th:value="${user.name}" required>
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label"><strong>Last Name</strong></label>
                                <input type="text" id="lastName" class="form-control form-control-sm" name="lastName" th:value="${user.lastName}" required>
                            </div>
                            <div class="mb-3">
                                <label for="age" class="form-label"><strong>Age</strong></label>
                                <input type="number" min="0" max="120" id="age" class="form-control form-control-sm" name="age" th:value="${user.age}" required>
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label"><strong>Email</strong></label>
                                <input type="email" id="username" class="form-control form-control-sm" name="username" th:value="${user.username}" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label"><strong>Password</strong></label>
                                <input type="password" class="form-control form-control-sm" id="password" readonly>
                                <input name="password"  th:value="${user.password}" hidden="hidden">
                            </div>
                            <div class="mb-3">
                                <label for="roles" class="form-label"><strong>Role</strong></label>
                                <select class="form-select" size="2" id="roles" name="authorities" required multiple>
                                    <option th:each="role : ${allRoles}"
                                            th:text="${role.toString()}"
                                            th:value="${role.id}"></option>
                                </select>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </td>
        <td>
            <!-- Delete button -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="${'#deleteModal'+ user.id}">Delete</button>
            <!-- Delete modal -->
            <div class="modal fade" th:id="${'deleteModal' + user.id}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <form th:action="@{/templates/admin/delete}" method="POST">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete user</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row justify-content-center">
                                <div class="col-6" style="text-align: center;">
                                    <div class="mb-3">
                                        <label for="id2" class="form-label"><strong>ID</strong></label>
                                        <input class="form-control form-control-sm" id="id2" th:value="${user.id}" disabled>
                                        <input name="id" th:value="${user.id}" hidden="hidden">
                                    </div>
                                    <div class="mb-3">
                                        <label for="name2" class="form-label"><strong>First Name</strong></label>
                                        <input type="text" class="form-control form-control-sm" id="name2" name="name" th:value="${user.name}" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="lastName2" class="form-label"><strong>Last Name</strong></label>
                                        <input type="text" id="lastName2" class="form-control form-control-sm" name="lastName" th:value="${user.lastName}" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="age2" class="form-label"><strong>Age</strong></label>
                                        <input type="number" min="0" max="120" id="age2" class="form-control form-control-sm" name="age" th:value="${user.age}" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="username2" class="form-label"><strong>Email</strong></label>
                                        <input type="email" id="username2" class="form-control form-control-sm" name="username" th:value="${user.username}" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="roles2" class="form-label"><strong>Role</strong></label>
                                        <select class="form-select" size="2" id="roles2" name="authorities" multiple disabled>
                                            <option th:each="role : ${allRoles}"
                                                    th:text="${role.toString()}"
                                                    th:value="${role.id}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</div>
</div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>